form#nerData {
    text-align: center;
}

[data-entity]{
    padding:.2em .3em;
    margin:0 .25em;
    line-height:1;
    display:inline-block;
    border-radius:.25em;
}
[data-entity]:after{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    content:attr(data-entity);
    font-size:.55em;
    line-height:1;
    padding:.35em .35em;
    border-radius:.35em;
    text-transform:uppercase;
    display:inline-block;
    vertical-align:middle;
    margin:0 0 .15rem .5rem;
    background:#fff;
    font-weight:700;
}

[data-entity=PERSON]      { background:#a6e22d; }
[data-entity=NORP]        { background:#ef60b4; }
[data-entity=FAC]         { background:#43c6fc; }
[data-entity=ORG]         { background:#43c6fc; }
[data-entity=GPE]         { background:#fd9720; }
[data-entity=LOC]         { background:#fd9720; }
[data-entity=MISC]        { background:#a99dfb; }
[data-entity=PRODUCT]     { background:#a99dfb; }
[data-entity=EVENT]       { background:#fc0; }
[data-entity=WORK_OF_ART] { background:#fc0; }
[data-entity=LAW]         { background:#fc0; }
[data-entity=LANGUAGE]    { background:#fc0; }
[data-entity=DATE]        { background:#2fbbab; }
[data-entity=TIME]        { background:#2fbbab; }
[data-entity=PERCENT]     { background:#bbb; }
[data-entity=MONEY]       { background:#bbb; }
[data-entity=QUANTITY]    { background:#bbb; }
[data-entity=ORDINAL]     { background:#bbb; }
[data-entity=CARDINAL]    { background:#bbb; }

ul#tagLegendList {
    padding-left: 0px;
}

ul#tagLegendList > li {
    list-style-type: none;
    margin-bottom: 1em;
}
